<form class="form-signin" name="login" id="login" #f="ngForm" (ngSubmit)="signIn(f.value)"> 
  <br>
  <br>
  <br>
  <div class="container" >
    <div class="row">
      <div class="offset-3 col-12">
         <h2 class="form-signin-heading">
           Login
         </h2>       
         <label for="inpLogin" class="sr-only">
           Email 
         </label>
         <input  ngModel type="email" id="inpLogin" name="Login" class="form-control inputStyle" placeholder="E-mail"  autofocus>
       
         <label for="inpSenha" class="sr-only">
           Senha
        </label>
         <input  ngModel type="password" id="inpSenha" name="Senha" class="form-control inputStyle" placeholder="Senha" >      
         <div *ngIf="invalidLogin" class="alert alert-danger errInputStyle">
          Usuario e/ou senha incorretos.
        </div>
         <button class="btn btn-lg btn-primary btn-block btnStyle" type="submit" >Logar</button>
      </div>
    </div>
  </div>
</form>
<form  name="loginGoogle" id="loginGoogle">
  <div class="container" > 
    <div class="row">
      <div class="offset-3 col-12"> 
        <button class="btn btn-lg btn-primary btn-block btnStyle" (click)="logarGoogle()" >Logar com o google</button>
      </div>
    </div>
  </div>
</form>