<form class="form-signin" name="login" id="login" #f="ngForm" (ngSubmit)="signUp(f.value)">

  <p> REALIZAR CADASTRO </p>

<div class="marg">
  <label for="inpNome" class="sr-only lblStyle">
    Nome:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpNome" name="Nome"
   #_inpNome="ngModel"
   minlength="3" 
   maxlength="30">                
  <div class="alert alert-danger errInputStyle" *ngIf="!_inpNome.valid && !_inpNome.untouched">
    <div *ngIf="_inpNome.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_inpNome.errors?.minlength" >Tamanho minimo {{_inpNome.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_inpNome.errors?.minlength" >Tamanho maximo {{_inpNome.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <label for="inpSobreNome" class="sr-only lblStyle">
    Sobrenome:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpSobreNome" name="SobreNome"
  #_SobreNome="ngModel"
  minlength="3" 
  maxlength="60">
  <div class="alert alert-danger errInputStyle" *ngIf="!_SobreNome.valid && !_SobreNome.untouched">
    <div *ngIf="_SobreNome.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_SobreNome.errors?.minlength" >Tamanho minimo {{_SobreNome.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_SobreNome.errors?.minlength" >Tamanho maximo {{_SobreNome.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <label for="inpDocumento" class="sr-only lblStyle">
    Documento:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpDocumento" name="Documento"
  #_Documento="ngModel"
  minlength="3" 
  maxlength="20">
  <div class="alert alert-danger errInputStyle" *ngIf="!_Documento.valid && !_Documento.untouched">
    <div *ngIf="_Documento.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_Documento.errors?.minlength" >Tamanho minimo {{_Documento.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_Documento.errors?.minlength" >Tamanho maximo {{_Documento.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <label for="inpEmail" class="sr-only lblStyle">
    Email:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpEmail" name="Email"
  #_Email="ngModel"
  maxlength="100">
  <div class="alert alert-danger errInputStyle" *ngIf="!_Email.valid && !_Email.untouched">
    <div *ngIf="_Email.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_Email.errors?.minlength" >Tamanho maximo {{_Email.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <label for="inpDataNascimento" class="sr-only lblStyle">
    Data de nascimento:
 </label>
  <input ngModel required type="date" class="form-control inputStyle"  id="inpDataNascimento" name="DataNascimento"
  #_DataNascimento="ngModel"
  >
  <div class="alert alert-danger errInputStyle" *ngIf="!_DataNascimento.valid && !_DataNascimento.untouched">
    <div *ngIf="_DataNascimento.errors?.required" >Campo obrigatorio</div>
  </div>

  <label for="inpTelefone" class="sr-only lblStyle">
    Telefone:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpTelefone" name="Telefone"
  #_Telefone="ngModel"
  minlength="10" 
  maxlength="10">
  <div class="alert alert-danger errInputStyle" *ngIf="!_Telefone.valid && !_Telefone.untouched">
    <div *ngIf="_Telefone.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_Telefone.errors?.minlength" >Tamanho minimo {{_Telefone.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_Telefone.errors?.minlength" >Tamanho maximo {{_Telefone.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <label for="inpCelular" class="sr-only lblStyle">
    Celular:
 </label>
  <input ngModel required type="text" class="form-control inputStyle"  id="inpCelular" name="Celular"
  #_Celular="ngModel"
  minlength="10" 
  maxlength="10">
  <div class="alert alert-danger errInputStyle" *ngIf="!_Celular.valid && !_Celular.untouched">
    <div *ngIf="_Celular.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_Celular.errors?.minlength" >Tamanho minimo {{_Celular.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_Celular.errors?.minlength" >Tamanho maximo {{_Celular.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

 <div class="row g-2 inputStyle">
  <div class="col-md">
    <div class="form-floating">
      <select ngModel required class="form-select" id="floatingSelectGrid" aria-label="Floating label select example"
      #_fk_sexo="ngModel" name="fk_sexo" id="inpfk_sexo">
        <option selected></option>
        <option value="1">Masculino</option>
        <option value="2">Feminino</option>
        <option value="3">Outro</option>
      </select>
      <label for="floatingSelectGrid">Sexo</label>
    </div>
  </div>
</div>
<div class="alert alert-danger errInputStyle" *ngIf="!_fk_sexo.valid && !_fk_sexo.untouched">
  <div *ngIf="_fk_sexo.errors?.required" >Campo obrigatorio</div>
</div>

  <label for="inputsenha" class="sr-only lblStyle">
    Senha:
 </label>
  <input required type="password" id="inpSenha" name="senha" ngModel class="form-control inputStyle" placeholder="senha"
  #_senha="ngModel"
  minlength="3" 
  maxlength="10">
  <div class="alert alert-danger errInputStyle" *ngIf="!_senha.valid && !_senha.untouched">
    <div *ngIf="_senha.errors?.required" >Campo obrigatorio</div>
    <div *ngIf="_senha.errors?.minlength" >Tamanho minimo {{_senha.errors?.minlength.requiredLength}} caracteres</div>
    <div *ngIf="_senha.errors?.minlength" >Tamanho maximo {{_senha.errors?.maxlength.requiredLength}} caracteres</div>
  </div>

  <input ngModel = "{{DtCriacao}}" type="date" id="inpDtCriacao" name="DataCriacao" class="form-control inputStyle" style="display: none;">
  <input ngModel = "{{flagFornecedor}}" type="hidden" id="inpflagFornecedor" name="flagFornecedor" class="form-control inputStyle" style="display: none;" >
  <input ngModel = "{{flagCliente}}" type="number" id="inpflagCliente" name="flagCliente" class="form-control inputStyle" style="display: none;">


  
  <button class="btn btn-lg btn-primary btn-block btnStyle " type="submit" >Realizar cadastro</button>

  

</div>  
  </form>