<div class="container">
    <h2>Carrinho</h2>
    <p>Você tem {{qtd}} itens no seu carrinho</p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produtoVIEW of produtos">
            <td>
              <img class="media-object align-self-start mr-3 rounded-circle" [src]="produtoVIEW.ImgSrc" style="width: 80px; height: 80px;">   </td>
            <td> 
              {{produtoVIEW.Nome}}
            </td>
            <td>     
            <div class="btn-group" role="group" style="margin-bottom: 11px;">
                <button type="button" (click)="diminuirQtd(produtoVIEW)" class="btn btn-outline-dark wrapper">-</button>
                <button type="button" class="btn btn-outline-dark wrapper" disabled>{{produtoVIEW.qtd}}</button>
                <button type="button" (click)="aumentarQtd(produtoVIEW)" class="btn btn-outline-dark wrapper">+</button>
            </div>
            </td>
            <td>
              {{produtoVIEW.PrecoUnitario}}
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" style="text-align: left;">              
              Total:
            </td>
            <td colspan="2" style="text-align: right;">              
              {{precoTotal | currency:'BRL' }}
            </td>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-outline-dark" style="margin-right: 5rem;">Fechar pedido</button>
      <button class="btn btn-outline-danger" (click)="limparCarrinho()">Limpar carrinho de compras</button>
</div>