

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" routerLink="#">     
      <img width="30" height="24" src="./assets/brushlogo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto col-10 col-lx-10">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="/produtos"
              [queryParams]="{categoria: 1, order: 'populares'}">Celulares</a></li>
            <li><a class="dropdown-item" routerLink="/produtos"
              [queryParams]="{categoria: 2, order: 'populares'}">Eletronicos</a></li>
            <li><a class="dropdown-item" routerLink="/produtos"
              [queryParams]="{categoria: 3, order: 'populares'}">Consoles</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link"routerLink="/autores">Autores</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastro-cursos">Cursos</a>
        </li>

        <li class="nav-item " *ngIf="authService.estaLogado() && authService.usuarioAtual.role.includes('admin')">
          <a   class="nav-link" routerLink="/admin">Admin</a>
        </li>

        <div class="offset-1 col-8">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"> <img width="30" height="24" src="./assets/lupa.png"></button>
          </div>
        </div>  
      </ul>

        <a class="navbar-brand" routerLink="#">     
          <img width="30" height="20" src="./assets/carrinho-compra.png">
        </a>
    
        <p *ngIf="authService.estaLogado()" style=" margin-right: 10px;">
          Bem vindo(a) <a routerLink="/perfil">{{authService.usuarioAtual.unique_name | nomeUsuario}} </a>
          |
          <a href="#" (click)="logout()">Sair</a>
        </p>
    
        <p *ngIf="!authService.estaLogado()" style=" margin-right: 10px;">
          <a routerLink="/login">Login</a>
          |
          <a routerLink="/signup">Cadastro</a>
        </p>
    </div>
  </nav>