<div class="container">    
  <h2>Produtos do sistema</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Marca</th>
        <th scope="col">Preco</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <td><a [routerLink]="['/adm/Produtos/', produto.ProdutoID]">Editar</a></td>
        <td>{{produto.ProdutoID}}</td>
        <td>{{produto.Nome}}</td>
        <td>{{produto.Marca}}</td>
        <td>{{produto.PrecoUnitario}}</td>
      </tr>
    </tbody>
  </table>
</div>